<%= render 'header'%>

<div class="main">
  <p> In Irons, a point of sail, when the bow of a sailboat is headed into the 
  wind and the boat has stalled unable to move forward or maneuver</p>
</div>

<%= render 'footer'%>

</body>

</html>

