<%= render 'header'%>

<div class="main">
<p> Come join us for "Beer Can Racing" every Wednesday evening begining in March 
at 6:00 PM. See you at marker 13.</p>
</div>

<%= render 'footer'%>

</body>

</html>
